---
name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  kubernetes:
    name: Kubernetes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deployment:
          - kubernetes-sharedclient
          - kubernetes-nosharedclient
          - kubernetes-namespaced
          - approle-env-vars
          - approle-no-env-vars
          - userpass
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Vault
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get update && sudo apt-get install vault

      - name: Setup kind Cluster
        run: ./hack/setup-kind.sh

      - name: Run Test
        run: ./hack/setup-kind-${{ matrix.deployment }}.sh
        env:
          VAULT_ADDR: http://127.0.0.1:8200

      - name: Show Pod Status and Logs
        if: ${{ always() }}
        run: |
          kubectl get pods --namespace vault
          kubectl logs --namespace=vault vault-0
          kubectl get pods --namespace vault-secrets-operator
          kubectl logs --namespace=vault-secrets-operator -l app.kubernetes.io/instance=vault-secrets-operator

  go:
    name: Go
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      # - name: Lint
      #   uses: golangci/golangci-lint-action@v8

      - name: Test
        run: |
          make test

      - name: Build
        run: |
          make build

  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: false
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
